.navbar {
    display: flex;
    justify-content: space-between;
	position: absolute;
	width: 80%;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1%;
	top: 20px;
	left: 10%;
    row-gap: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-inicio {
    position: relative;
    display: inline-block;
    min-width: 10%;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
    color: rgb(0, 0, 0);
}

/* sombreado del boton */
.btn-inicio:hover {
    background: #ff5e00d7;
    color: #fff;
    box-shadow: 0 0 5px #e35c0e, 0 0 5px #e35c0e, 0 0 5px #e35c0e;
    transition-delay: 1s;
}

.btn-inicio span {
    position: absolute;
    display: block;
}

/* animacion lineas btn */
#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a14d1d);
}

.btn-inicio:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a14d1d);
}

.btn-inicio:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a14d1d);
}

.btn-inicio:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a14d1d);
}

.btn-inicio:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* ------------------------------------------------------------------------------------------ */

.buttons {
    display: flex;
    /* width: 20%; */
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12px;
}


.buttons button:hover {
    background: #ff5e00d7;
    color: #ffffff;
    border-radius: 8px;
    transition: 0.5s;
}