<div class="navbar">
    <nav class="menu">
        <img src="./../../../assets/logo-institucion.png" alt="logoinstitucion" width="200px">
        <ul>
            <li>
                <a class="btn-inicio" routerLink="/">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span><b>INICIO</b></a>
            </li>
            <li>
                <a class="btn-inicio" routerLink="/ingreso2023">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span><b>PREINSCRIPCIÓN</b></a>
            </li>
        </ul>
    </nav>
    <div class="buttons">
        <div *ngIf="!login else logueado">
            <button type="button" class="btn btn-outline" routerLink="/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                    class="bi bi-person-fill" viewBox="0 0 18 18">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                Ingresar
            </button>
        </div>
        <ng-template #logueado>
            <button type="button" class="btn btn-outline" (click)="logOut()">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                    class="bi bi-person-fill" viewBox="0 0 18 18">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                Cerrar Sesión
            </button>
            <div *ngIf="userRol == 'admin' || userRol == 'director'">
                <app-modal></app-modal>
            </div>
        </ng-template>
    </div>
</div>