<app-navbar></app-navbar>
<div class="header"></div>
<br>
<div class="conteiner">

    <!-- SI ELIJE UNA CARRERA  -->
    <div *ngIf="carrera[0] == '1'">
        <div class="container-header">
            <h4>{{carreras[0] && carreras[0].nombre_carrera}}</h4>
            <div id="container-buttons" *ngIf="login && userRol == 'admin' || userRol == 'director'">
                <app-pdfmake></app-pdfmake>
                <app-modal-form-plan></app-modal-form-plan>
            </div>
        </div>
        <hr class="border-1 opacity-75">
        <br>
        <div class="row">
            <div class="col">
                <div class="info">
                    <span class="badge">CANTIDAD DE AÑOS:</span>
                    <span class="badge text-bg-secondary">{{carreras[0] && carreras[0].cant_anios}} AÑOS</span>
                </div>
                <br>
                <div class="info">
                    <span class="badge">CANTIDAD DE HORAS CATEDRA:</span>
                    <span class="badge text-bg-secondary">{{carreras[0] && carreras[0].cant_horas}} HS</span>
                </div>
                <br>
                <div class="info">
                    <span class="badge">CANTIDAD DE MATERIAS:</span>
                    <span class="badge text-bg-secondary">{{carreras[0] && carreras[0].cant_materias}} MATERIAS</span>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-sm-around" style="height: 100%;">
                    <div class="vr"></div>
                    <img class="" src="./../../../assets/desarrollo.jpg" height="220">
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------------ -->

    <!-- SI ELIJE OTRA CARRERA -->
    <div *ngIf="carrera[0] == '2'">
        <div class="container-header">
            <h4>{{carreras[1] && carreras[1].nombre_carrera}}</h4>
            <div id="container-buttons" *ngIf="login && userRol == 'admin' || userRol == 'director'">
                <app-pdfmake></app-pdfmake>
                <app-modal-form-plan></app-modal-form-plan>
            </div>
        </div>
        <hr class="border-1 opacity-75">
        <br>
        <div class="row">
            <div class="col">
                <div class="info">
                    <span class="badge">CANTIDAD DE AÑOS:</span>
                    <span class="badge text-bg-secondary">{{carreras[1] && carreras[1].cant_anios}} AÑOS</span>
                </div>
                <br>
                <div class="info">
                    <span class="badge">CANTIDAD DE HORAS CATEDRA:</span>
                    <span class="badge text-bg-secondary">{{carreras[1] && carreras[1].cant_horas}} HS</span>
                </div>
                <br>
                <div class="info">
                    <span class="badge">CANTIDAD DE MATERIAS:</span>
                    <span class="badge text-bg-secondary">{{carreras[1] && carreras[1].cant_materias}} MATERIAS</span>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-sm-around" style="height: 100%;">
                    <div class="vr"></div>
                    <img class="" src="./../../../assets/soporte.jpg" height="220">
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------------ -->
    <br>

    <app-tabla-planes></app-tabla-planes>


</div>
<app-footer></app-footer>